<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增指引管理')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <!--<style type="text/css">-->
    <!--.kv-file-remove{-->
    <!--display: none;-->
    <!--}-->
    <!--</style>-->
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-guide-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">指引描述：</label>
            <div class="col-sm-8">
                <input name="guideDescribe" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">指引图片：</label>
            <div class="col-sm-8">
                <input name="guideImg" id="guideImg" type="hidden">
                <div class="row">
                    <div class="form-group">
                        <div class="file-loading">
                            <input id="imgFile" name="file" class="file" type="file" multiple>
                        </div>
                    </div>
                </div>

            </div>



        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">设备类型：</label>
            <div class="col-sm-8">
                <select name="machineType" class="form-control m-b deType"
                        th:with="type=${@machine.selectRocheMachineTypeList()}">
                    <option th:each="machine : ${type}" th:text="${machine.machineTypeName}"
                            th:value="${machine.machineType}" ></option>
                </select>
            </div>
        </div>


    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script th:inline="javascript">

    var List = new Array();//定义一个全局变量去接受文件名和id
    var prefix = ctx + "manage/guide";
    var image = [];//图片回显
    var uploadImageArray = [];//所有已上传的图片路径
    var imageConfig = [];//预览的参数
    if ($("#guideImg").val()) {
        image = $('#guideImg').val().split(',');
        for (var i = 0; i < image.length; i++) {
            uploadImageArray.push(image[i]);
            imageConfig[i] = {url: "/imgeurldelete", key: image[i]}
            image[i] = '<img src="' + image[i] + '" class="file-preview-image kv-preview-data" style="width:auto;height:auto;max-width:100%;max-height:100%;">';
        }
    }
    $("#imgFile").fileinput({
        language: 'zh', //设置语言
        uploadUrl: "/common/upload", //上传的地址
        allowedFileExtensions: ['jpg', 'png'],//接收的文件后缀
        uploadAsync: true, //默认异步上传,这里设置了同步
        showUpload: false, //是否显示上传按钮
        showRemove: false, //显示移除按钮
        showPreview: true, //是否显示预览
        showCaption: false,//是否显示标题
        browseClass: "btn btn-primary", //按钮样式
        dropZoneEnabled: true,//是否显示拖拽区域
        maxFileCount: 0, //表示允许同时上传的最大文件个数
        enctype: 'multipart/form-data',
        validateInitialCount: true,
        maxFileSize: 0,
        initialPreview: image,
        initialPreviewConfig: imageConfig, //配置预览的参数
        overwriteInitial: false,
        showCaption: false,
        maxFileCount: 3,
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>"
    }).on("filebatchselected", function (event, previewId, files) {
        $("#imgFile").fileinput("upload");
        console.log("!" + previewId)
    }).on('fileuploaded', function (event, data, previewId, index) {
        //同步上传成功回调，如果是异步上传成功会回调fileuploaded，用错的话，回调是不会执行的
        var allurl;
        if ($("#guideImg").val() != null && $("#guideImg").val() != '') {
            allurl = $("#guideImg").val() + ',' + data.response.url;
        } else {
            allurl = data.response.url;
        }
        $("#guideImg").val(allurl);
        List.push({FileName: data.response.url, KeyID: previewId});

    }).on("filesuccessremove", function (event, data, previewId, index) {
        //在删除initialPreview内容集中的每个缩略图文件之后触发此事件
        var afterallurl = [];
        for (var i = 0; i < List.length; i++) {
            if (List[i].KeyID == data) {

                console.log(List[i].KeyID);
                var deleteurl = List[i].FileName;

                var allurl = [];

                allurl = $('#guideImg').val().split(',');
                for (var x = 0; x < allurl.length; x++) {
                    if (allurl[x] != deleteurl) {
                        afterallurl.push(allurl[x])
                    }
                }
            }
        }
        $("#guideImg").val(afterallurl);

    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-guide-add').serialize());
        }
    }


</script>
</body>
</html>